.columnWrapper {
  width: 90%;
  min-width: 600px;
  margin: 0 auto;
}
.dynamicColumns{
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 40px;
  column-fill: auto;
}

.dynamicColumns .postWrapper {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background: transparent;
  box-shadow: none;

  margin: -8px -8px 20px;
  padding: 8px;

  cursor: zoom-in;

  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  /*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.dynamicColumns .postWrapper > .post {
  border-radius: 8px;
  background: rgba(0,0,0,0.03);
}
.dynamicColumns .postWrapper::before {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  content: " " !important;

  width: 100%;
  height: 100%;

  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
  z-index: 3;
}
.dynamicColumns .postWrapper:hover::before {
  -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
  animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
}


.dynamicColumns .post > img {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.dynamicColumns .post p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  .dynamicColumns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  .dynamicColumns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.dynamicColumns:hover .post:not(:hover) {
  opacity: 0.4;
}
.dynamicColumns:hover .post:not(:hover) .hover-section {
  visibility: hidden;
}
.dynamicColumns:hover .hover-section {
  visibility: visible;
}
.hover-section {
  position: absolute;
  visibility: hidden;
  visibility: visible;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.hover-section > .description, .action-buttons, .dimGradient {
  position: absolute;
}
.dimGradient {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.15);
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  bottom: 8px;
  left: 8px;
  right: 8px;
  border-radius: 0 0 8px 8px;

  height: 100px;
  width: calc(100% - 16px);

  position: absolute;
  z-index: 3;
  /*border: 1px solid red;*/
}
.hover-section > .description {
  /*border: 1px solid blue;*/
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  z-index: 4;
  width: calc(100% - 30px);
  text-shadow: 0 0 2px rgba(150, 150, 150, 1);
}
.hover-section > .description .like-count {
  color: #fff;
}
.is-liked {
  color: red;
}

.action-buttons {
  top: 20px;
  right: 20px;
  bottom: initial;
  z-index: 4;
}
.action-buttons .like-it {
  cursor: pointer;
  pointer-events: all;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.action-buttons .like-it:hover img, .action-buttons .like-it:focus img {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}
